<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> 
    {% block title %}{% endblock title %}      
</head>
<body>

    <!--Navbar  -->
    {% include 'partials/_navbar.html' %}
    <div>
        {% block content %}{% endblock content %}
    </div>
    <!-- Footer -->
    {% include 'partials/_footer.html' %}
</body>

</html>
